.wrapper {
  background: var(--light-red);

  @media (min-width: 1001px) {
    padding-block: 80px;
  }

  @media (max-width: 1000px) {
    padding-block: 40px;
    margin-top: 40px;
  }
}

.title {
  font-weight: 400;
  text-align: center;

  @media (min-width: 1001px) {
    font-size: 64px;
  }

  @media (max-width: 1000px) {
    font-size: 54px;
  }
}

.text {
  font-size: 18px;
  text-align: center;
}

.links {
  margin-block: 50px 70px;

  @media (min-width: 1001px) {
    display: flex;
    justify-content: center;
    gap: 70px;
  }
}

.link {
  font-weight: 700;
  font-size: 18px;
  gap: 15px;
  align-items: center;
  display: flex;

  @media (max-width: 1000px) {
    justify-content: center;
    margin-top: 20px;
  }
}

.iframeWrapper {
  margin-bottom: 50px;
  position: relative;
  filter: drop-shadow(0 0 0 2px red);
}

.iframe {
  width: 100%;
  border: 0;

  clip-path: polygon(
    var(--offset-x) 0,
    calc(100% - var(--offset-x)) 0,
    100% var(--offset-y),
    100% calc(100% - var(--offset-y)),
    calc(100% - var(--offset-x)) 100%,
    var(--offset-x) 100%,
    0 calc(100% - var(--offset-y)),
    0 var(--offset-y)
  );

  @media (min-width: 1001px) {
    --offset-x: 3.5%;
    --offset-y: 7%;

    aspect-ratio: 2;
  }

  @media (max-width: 1000px) {
    --offset-x: 7%;
    --offset-y: 7%;

    aspect-ratio: 1;
  }
}

.agendaItem {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
