.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: showLoader 0.2s forwards;
}

.icon {
  animation: spin 1s infinite;
  fill: var(--red);
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
}

@keyframes showLoader {
  from {
    opacity: 0;
  }
  to {
    backdrop-filter: blur(6px);
    opacity: 1;
  }
}
