.wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  border: 0;
  outline: 0;
  background: var(--lighter-gray);
  padding: 14px;
  border: 1px solid transparent;
  transition: 0.2s;
  border-radius: 0;

  &:focus-visible {
    border: 1px solid var(--gray);
  }
}

.error {
  color: var(--dark-purple);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -20px;
}
