.wrapper {
  @media (max-width: 1000px) {
    overflow: hidden;
    padding-block: 6vw;
  }
}

.container {
  position: relative;

  @media (min-width: 1001px) {
    padding-block: 130px;
    border-top: 3px solid var(--light-gray);
    border-bottom: 3px solid var(--light-gray);
    margin-bottom: 160px;
  }

  @media (max-width: 1000px) {
    padding-block: 70px;
    margin-bottom: 30px;
    border-left: 3px solid var(--light-gray);
    border-right: 3px solid var(--light-gray);
  }
}

.border {
  position: absolute;

  &:nth-child(1) {
    bottom: -28px;
    left: -28px;
  }

  &:nth-child(2) {
    bottom: -28px;
    right: -28px;
    rotate: 270deg;
  }

  &:nth-child(3) {
    top: -28px;
    right: -28px;
    rotate: 180deg;
  }

  &:nth-child(4) {
    top: -28px;
    left: -28px;
    rotate: 90deg;
  }
}

.title {
  font-weight: 400;
  text-align: center;
  font-weight: 300;
  margin-top: 0;

  @media (min-width: 1001px) {
    font-size: 32px;
  }

  @media (max-width: 1000px) {
    font-size: 26px;
  }
}

.list {
  margin-top: 50px;

  @media (min-width: 1001px) {
    display: flex;
    justify-content: center;
  }
}

.item {
  text-align: center;

  @media (min-width: 1001px) {
    flex-basis: 250px;
  }
}

.number {
  font-weight: 300;
  line-height: 1;
  display: block;

  @media (min-width: 1001px) {
    font-size: 160px;
  }

  @media (max-width: 1000px) {
    margin-top: 30px;
    font-size: 120px;
  }
}

.label {
  display: block;
  line-height: 1;
  margin-top: -10px;

  @media (min-width: 1001px) {
    font-size: 22px;
  }

  @media (max-width: 1000px) {
    font-size: 18px;
  }
}
