.wrapper {
  min-height: calc(100vh - 222px);

  @media (min-width: 1001px) {
    padding-block: 80px;
  }

  @media (max-width: 1000px) {
    padding-block: 150px 80px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.link {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  display: block;
  text-align: right;
  background: transparent;
  border: 0;
  padding-right: 0;
  width: 100%;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rowLeft {
  min-width: 0;
}

.rowTitle {
  font-size: 18px;
  font-weight: 400;
}

.rowCount {
  font-size: 14px;
}

.rowName {
  &[data-confirmed='false'] {
    text-decoration: line-through rgba(0, 0, 0, 0.3);
  }
}

.rowText {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.rowRight {
  text-align: right;
}

.rowLink {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding-right: 0;
  cursor: pointer;
  white-space: nowrap;
}

.rowButton {
  background: transparent;
  border: 0;
  line-height: 1;
  cursor: pointer;

  @media (min-width: 1001px) {
    font-size: 14px;

    &:last-child {
      padding-inline: 7px 0;
    }

    &:not(:last-child) {
      padding-inline: 7px;
      border-right: 1px solid var(--dark);
    }
  }

  @media (max-width: 1000px) {
    padding: 0;
    display: block;
    text-align: right;
    width: 100%;
    margin-top: 5px;
  }
}
