.wrapper {
  min-height: calc(100vh - 222px);

  @media (min-width: 1001px) {
    padding-block: 80px;
  }

  @media (max-width: 1000px) {
    padding-block: 150px 80px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.link {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  display: block;
  text-align: right;
  background: transparent;
  border: 0;
  padding-right: 0;
  width: 100%;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rowTitle {
  font-size: 18px;
  font-weight: 400;
}

.rowCount {
  font-size: 14px;
}

.rowName {
  margin-right: 10px;

  &[data-confirmed='false'] {
    text-decoration: line-through rgba(0, 0, 0, 0.3);
  }
}

.rowText {
  font-size: 14px;
  display: block;
}

.rowRight {
  text-align: right;
}

.rowLink {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding-right: 0;
  cursor: pointer;
}

.rowButton {
  background: transparent;
  border: 0;
  line-height: 1;
  cursor: pointer;

  &:last-child {
    padding-inline: 10px 0;
  }

  &:not(:last-child) {
    padding-inline: 10px;
    border-right: 1px solid var(--dark);
  }
}
