.container {
  @media (min-width: 1001px) {
    display: grid;
    grid-template-columns: auto 400px auto;
    gap: min(8vw, 140px);
    margin-block: 100px;
  }

  @media (max-width: 1000px) {
    margin-block: 100px 50px;
  }
}

.left {
  position: relative;

  @media (max-width: 1000px) {
    height: 110vw;
  }
}

.image {
  position: absolute;
  height: auto;
  object-fit: cover;
}

.image1 {
  height: 80%;
  width: 80%;
  top: 0;
  left: 0;
}

.image2 {
  height: 60%;
  width: 65%;
  right: 0;
  bottom: 0;
}

.center {
  text-align: center;

  @media (min-width: 1001px) {
    padding-block: min(80px, 4vw);
  }

  @media (max-width: 1000px) {
    padding-block: 50px;
  }
}

.titleHeader {
  font-weight: 300;

  @media (min-width: 1001px) {
    font-size: 90px;
  }

  @media (max-width: 1000px) {
    font-size: 70px;
  }
}

.titleName1 {
  font-weight: 400;

  @media (min-width: 1001px) {
    font-size: 120px;
  }

  @media (max-width: 1000px) {
    font-size: 96px;
  }
}

.titleAnd {
  font-size: 100px;
  font-weight: 300;

  @media (min-width: 1001px) {
    font-size: 100px;
  }

  @media (max-width: 1000px) {
    font-size: 50px;
  }
}

.titleName2 {
  font-size: 130px;
  font-weight: 400;

  @media (min-width: 1001px) {
    font-size: 130px;
  }

  @media (max-width: 1000px) {
    font-size: 100px;
  }
}

.subtitle {
  color: var(--red);
  font-size: 32px;
}

.legend {
  display: inline-block;
  position: relative;
  padding-inline: 15px;

  &::before,
  &::after {
    width: 5px;
    height: 5px;
    background: var(--dark);
    content: '';
    display: block;
    border-radius: 99px;
    position: absolute;
    top: 9px;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.right {
  position: relative;

  @media (max-width: 1000px) {
    height: 110vw;
  }
}

.image3 {
  height: 40%;
  width: 35%;
  left: 0;
  bottom: 5%;
  border-radius: 99px 99px 0 0;
  z-index: 2;
}

.image4 {
  width: 60%;
  height: 90%;
  bottom: 0;
  left: 10%;
  z-index: 1;
}

.image5 {
  width: 35%;
  height: 40%;
  top: 0;
  right: 0;
}
