.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 1001px) {
    height: max(500px, calc(100vh - 150px));
  }

  @media (max-width: 1000px) {
    padding-top: 40px;
    height: max(500px, calc(100vh - 70px));
  }
}

.flowers {
  opacity: 0.3;
  pointer-events: none;
  position: absolute;
  height: auto;
}

.flowers1 {
  top: 0;
  left: 0;

  @media (max-width: 1000px) {
    display: none;
  }
}

.flowers2 {
  right: 0;

  @media (min-width: 1001px) {
    top: -160px;
  }

  @media (max-width: 1000px) {
    top: 0;
    max-width: 80%;
  }
}

.flowers3 {
  bottom: 0;
  right: 50%;
  translate: 50%;
  rotate: 35deg;
  max-width: 60%;
}

.container {
  text-align: center;
}

.titleHeader {
  font-weight: 300;

  @media (min-width: 1001px) {
    font-size: 40px;
  }

  @media (max-width: 1000px) {
    font-size: 28px;
  }
}

.titleName {
  font-weight: 400;

  @media (min-width: 1001px) {
    font-size: 60px;
  }

  @media (max-width: 1000px) {
    font-size: 40px;
  }
}

.titleAnd {
  font-weight: 300;

  @media (min-width: 1001px) {
    font-size: 40px;
  }

  @media (max-width: 1000px) {
    font-size: 30px;
  }
}

.subtitle {
  color: var(--dark-purple);
  font-size: 24px;
  margin-top: 40px;
}

.legend {
  display: inline-block;
  position: relative;
  padding-inline: 15px;

  &::before,
  &::after {
    width: 5px;
    height: 5px;
    background: var(--dark);
    content: '';
    display: block;
    border-radius: 99px;
    position: absolute;
    top: 9px;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
