.wrapper {
  min-height: calc(100vh - 222px);

  @media (min-width: 1001px) {
    padding-block: 80px;
  }

  @media (max-width: 1000px) {
    padding-block: 150px 80px;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: capitalize;
  font-size: 18px;
}

.link {
  text-decoration: underline;
  font-weight: 700;
  background: transparent;
  border: 0;
  padding-left: 0;
  cursor: pointer;
}
