.container {
  margin-inline: auto;

  &[data-size='large'] {
    width: min(1640px, 92%);
  }

  &[data-size='medium'] {
    width: min(900px, 92%);
  }

  &[data-size='small'] {
    width: min(470px, 92%);
  }
}
