.toast {
  position: fixed;
  right: 10;
  background: var(--background);
  padding: 30px;
  animation: showToast 0.25s forwards;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  width: min(70%, 400px);
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.message {
  display: block;
  text-align: center;
}

@keyframes showToast {
  from {
    translate: 100px 100px;
    opacity: 1;
  }
}
