.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 1001px) {
    margin-bottom: 30px;
  }

  @media (max-width: 1000px) {
    margin-bottom: 20px;
  }
}

.detail {
  height: auto;

  &:last-child {
    rotate: 180deg;
  }

  @media (max-width: 1000px) {
    width: 90px;
  }
}

.title {
  font-size: 24px;
  font-weight: 400;
}
