.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.detail {
  width: 125px;
  height: auto;

  &:last-child {
    rotate: 180deg;
  }
}

.title {
  font-size: 24px;
  font-weight: 400;
}
