.buttonWrapper {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  margin-top: 25px;
}

.button {
  background: var(--red);
  color: var(--background);
  font-size: 18px;
  padding: 14px 20px 8px;
  display: inline-block;
  border: 0;
  cursor: pointer;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-block: 25px;
}

.removeButton {
  display: inline-flex;
  font-size: 18px;
  background: var(--light-red);
  border: 0;
  padding: 7px 13px;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}
