.wrapper {
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    width: 40%;
    pointer-events: none;
    background: linear-gradient(to right, transparent, var(--background));
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  @media (min-width: 1001px) {
    margin-block: 160px;

    &::after {
      height: 100%;
    }
  }

  @media (max-width: 1000px) {
    margin-block: 40px 80px;

    &::after {
      height: 250px;
    }
  }
}

.container {
  @media (min-width: 1001px) {
    display: flex;
    gap: 100px;
    align-items: center;
  }
}

.content {
  @media (min-width: 1001px) {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}

.title {
  font-weight: 400;
  font-size: 48px;
}

.text {
  line-height: 1.4;
  font-size: 18px;
  margin-block: 40px;
}

.cta {
  background: var(--red);
  color: var(--background);
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
}

.list {
  display: flex;
  margin-top: 50px;

  @media (min-width: 1001px) {
    gap: 45px;
  }

  @media (max-width: 1000px) {
    gap: 20px;
  }
}

.item {
  background: var(--light-purple);
  flex-shrink: 0;

  @media (min-width: 1001px) {
    width: 250px;
  }

  @media (max-width: 1000px) {
    width: 150px;
  }
}

.image {
  aspect-ratio: 1.1;
  object-fit: cover;
  height: auto;
}

.itemContent {
  @media (min-width: 1001px) {
    padding: 15px;
  }

  @media (max-width: 1000px) {
    padding: 9px;
  }
}

.itemTitle {
  color: var(--red);
  margin-block: 5px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media (min-width: 1001px) {
    font-size: 22px;
  }

  @media (max-width: 1000px) {
    font-size: 18px;
  }
}

.itemPrice {
  font-size: 18px;
}
