.wrapper {
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    width: 40%;
    pointer-events: none;
    background: linear-gradient(to right, transparent, var(--background));
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  @media (min-width: 1001px) {
    margin-block: 160px;

    &::after {
      height: 100%;
    }
  }

  @media (max-width: 1000px) {
    margin-block: 40px 80px;

    &::after {
      height: 250px;
    }
  }
}

.container {
  @media (min-width: 1001px) {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }
}

.title {
  font-weight: 400;
  font-size: 48px;
}

.text {
  line-height: 1.4;
  font-size: 18px;
  margin-block: 40px;
}

.cta {
  background: var(--dark-purple);
  color: var(--background);
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
}

.list {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  margin-right: -150px;

  @media (min-width: 1001px) {
    gap: 45px;
  }

  @media (max-width: 1000px) {
    gap: 20px;
  }
}
