.wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: showModal 0.4s forwards;
}

.content {
  background: var(--background);
  position: relative;
  width: min(570px, 95%);
  overflow: auto;

  @media (min-width: 1001px) {
    padding: 45px;
  }

  @media (max-width: 1000px) {
    padding: 25px;
  }
}

.innerContent {
  max-height: calc(100vh - 300px);
}

.closeLink {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
}

.title {
  font-weight: 400;
  text-align: center;
  display: block;
  font-size: 24px;
  margin-bottom: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}

.cancelLink {
  font-weight: 700;
  text-decoration: underline;
  font-size: 18px;
}

.okButton {
  background: var(--dark-purple);
  color: var(--background);
  font-size: 18px;
  display: inline-block;
  border: 0;
  cursor: pointer;

  @media (min-width: 1001px) {
    padding: 13px 40px;
  }

  @media (max-width: 1000px) {
    padding: 13px 20px;
  }
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    backdrop-filter: blur(6px) brightness(80%);
    opacity: 1;
  }
}
