.bottomTitle {
  text-align: center;
  font-weight: 400;

  @media (min-width: 1001px) {
    margin-block: 100px;
    font-size: 32px;
  }

  @media (max-width: 1000px) {
    margin-block: 50px;
    font-size: 24px;
  }
}
