.container {
  display: grid;
  align-items: start;

  @media (min-width: 1001px) {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-block: 100px;
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-block: 10px;
  }
}

.column {
  display: grid;

  @media (min-width: 1001px) {
    gap: 40px;
  }

  @media (max-width: 1000px) {
    gap: 10px;
  }
}

.image {
  object-fit: cover;
  height: auto;
  aspect-ratio: 0.8;
  filter: grayscale(50%);
}
