.footer {
  background: var(--dark);
  padding-block: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: auto;
}

.links {
  display: flex;
  gap: 35px;
}

.link {
  color: var(--orange);
  font-size: 18px;
}
