.footer {
  background: var(--dark);
  padding-block: 30px;
}

.container {
  @media (min-width: 1001px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  height: auto;
  filter: brightness(0) invert(1);
  opacity: 0.75;

  @media (max-width: 1000px) {
    display: block;
    margin-inline: auto;
    margin-bottom: 30px;
  }
}

.links {
  @media (min-width: 1001px) {
    display: flex;
    gap: 35px;
  }
}

.link {
  color: var(--purple);
  font-size: 18px;

  @media (max-width: 1000px) {
    display: block;
    text-align: center;
    padding-top: 10px;
  }
}
