.text {
  font-size: 18px;
  text-align: center;
}

.inputWrapper {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  margin-block: 40px 15px;
}

.button {
  background: var(--dark-purple);
  color: var(--background);
  font-size: 18px;
  padding: 14px 20px 8px;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
