:root {
  --background: #fefbff;
  --dark: #2d2830;
  --dark-purple: #5e436e;
  --light-purple: #f9f3fb;
  --purple: #eee4f3;
  --gray: #cdc3d4;
  --light-gray: #eeeeee;
  --lighter-gray: #f3eff4;
}

body {
  font-family: var(--moneta);
  background: var(--background);
  color: var(--dark);
}
