.container {
  display: flex;
  justify-content: space-between;
  padding-block: 25px;
}

.links {
  align-items: center;
  display: flex;
  gap: 35px;
}

.link {
  font-size: 18px;
}

.logo {
  height: auto;
}

.right {
  flex-basis: 430px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
}

.dropdownWrapper {
  position: relative;
  padding: 20px;
  font-size: 18px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 28px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--dark);
  }

  &:hover {
    .dropdown {
      height: auto;
      padding: 20px 30px;
    }
  }
}

.dropdownLink {
  white-space: nowrap;
  cursor: pointer;
  font-size: 18px;
  color: var(--red);
  font-weight: 700;
  text-align: center;
  background: transparent;
  padding: 10px;
  border: 0;
  display: block;
  width: 100%;
}

.dropdown {
  position: absolute;
  background: var(--light-red);
  box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.1);
  right: 0;
  height: 0;
  overflow: clip;
  transition: 0.3s;
  interpolate-size: allow-keywords;
  padding: 0 30px;
}

.button {
  background: var(--red);
  color: var(--background);
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
}
